
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8"><script type="text/javascript">window.NREUM||(NREUM={}),__nr_require=function(e,n,t){function r(t){if(!n[t]){var o=n[t]={exports:{}};e[t][0].call(o.exports,function(n){var o=e[t][1][n];return r(o?o:n)},o,o.exports)}return n[t].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<t.length;o++)r(t[o]);return r}({QJf3ax:[function(e,n){function t(e){function n(n,t,a){e&&e(n,t,a),a||(a={});for(var u=c(n),f=u.length,s=i(a,o,r),p=0;f>p;p++)u[p].apply(s,t);return s}function a(e,n){f[e]=c(e).concat(n)}function c(e){return f[e]||[]}function u(){return t(n)}var f={};return{on:a,emit:n,create:u,listeners:c,_events:f}}function r(){return{}}var o="nr@context",i=e("gos");n.exports=t()},{gos:"7eSDFh"}],ee:[function(e,n){n.exports=e("QJf3ax")},{}],3:[function(e,n){function t(e){return function(){r(e,[(new Date).getTime()].concat(i(arguments)))}}var r=e("handle"),o=e(1),i=e(2);"undefined"==typeof window.newrelic&&(newrelic=window.NREUM);var a=["setPageViewName","addPageAction","setCustomAttribute","finished","addToTrace","inlineHit","noticeError"];o(a,function(e,n){window.NREUM[n]=t("api-"+n)}),n.exports=window.NREUM},{1:12,2:13,handle:"D5DuLP"}],gos:[function(e,n){n.exports=e("7eSDFh")},{}],"7eSDFh":[function(e,n){function t(e,n,t){if(r.call(e,n))return e[n];var o=t();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(e,n,{value:o,writable:!0,enumerable:!1}),o}catch(i){}return e[n]=o,o}var r=Object.prototype.hasOwnProperty;n.exports=t},{}],D5DuLP:[function(e,n){function t(e,n,t){return r.listeners(e).length?r.emit(e,n,t):void(r.q&&(r.q[e]||(r.q[e]=[]),r.q[e].push(n)))}var r=e("ee").create();n.exports=t,t.ee=r,r.q={}},{ee:"QJf3ax"}],handle:[function(e,n){n.exports=e("D5DuLP")},{}],XL7HBI:[function(e,n){function t(e){var n=typeof e;return!e||"object"!==n&&"function"!==n?-1:e===window?0:i(e,o,function(){return r++})}var r=1,o="nr@id",i=e("gos");n.exports=t},{gos:"7eSDFh"}],id:[function(e,n){n.exports=e("XL7HBI")},{}],G9z0Bl:[function(e,n){function t(){var e=d.info=NREUM.info,n=f.getElementsByTagName("script")[0];if(e&&e.licenseKey&&e.applicationID&&n){c(p,function(n,t){n in e||(e[n]=t)});var t="https"===s.split(":")[0]||e.sslForHttp;d.proto=t?"https://":"http://",a("mark",["onload",i()]);var r=f.createElement("script");r.src=d.proto+e.agent,n.parentNode.insertBefore(r,n)}}function r(){"complete"===f.readyState&&o()}function o(){a("mark",["domContent",i()])}function i(){return(new Date).getTime()}var a=e("handle"),c=e(1),u=window,f=u.document;e(2);var s=(""+location).split("?")[0],p={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-686.min.js"},d=n.exports={offset:i(),origin:s,features:{}};f.addEventListener?(f.addEventListener("DOMContentLoaded",o,!1),u.addEventListener("load",t,!1)):(f.attachEvent("onreadystatechange",r),u.attachEvent("onload",t)),a("mark",["firstbyte",i()])},{1:12,2:3,handle:"D5DuLP"}],loader:[function(e,n){n.exports=e("G9z0Bl")},{}],12:[function(e,n){function t(e,n){var t=[],o="",i=0;for(o in e)r.call(e,o)&&(t[i]=n(o,e[o]),i+=1);return t}var r=Object.prototype.hasOwnProperty;n.exports=t},{}],13:[function(e,n){function t(e,n,t){n||(n=0),"undefined"==typeof t&&(t=e?e.length:0);for(var r=-1,o=t-n||0,i=Array(0>o?0:o);++r<o;)i[r]=e[n+r];return i}n.exports=t},{}]},{},["G9z0Bl"]);</script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="http://torbots.com/sites/default/files/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="shortlink" href="/node/27" />
<link rel="canonical" href="/content/about-us" />
<meta name="Generator" content="Drupal 7 (http://drupal.org)" />
  <title>About Us | Torbots | FIRST Team 1197</title>
  <style>
@import url("http://torbots.com/modules/system/system.base.css?nhq80v");
</style>
<style>
@import url("http://torbots.com/modules/field/theme/field.css?nhq80v");
@import url("http://torbots.com/sites/all/modules/contrib/views/css/views.css?nhq80v");
@import url("http://torbots.com/sites/all/modules/contrib/ckeditor/css/ckeditor.css?nhq80v");
</style>
<style>
@import url("http://torbots.com/sites/all/modules/contrib/ctools/css/ctools.css?nhq80v");
</style>
<style>
@import url("http://torbots.com/sites/all/themes/stilo/css/bootstrap.css?nhq80v");
@import url("http://torbots.com/sites/all/themes/stilo/css/overrides.css?nhq80v");
@import url("http://torbots.com/sites/all/themes/stilo/css/fullwidth.css?nhq80v");
@import url("http://torbots.com/sites/all/themes/stilo/css/magnific-popup.css?nhq80v");
@import url("http://torbots.com/sites/all/themes/stilo/css/animate.min.css?nhq80v");
@import url("http://torbots.com/sites/all/themes/stilo/css/font-awesome.css?nhq80v");
@import url("http://torbots.com/sites/all/themes/stilo/css/jquery.bxslider.css?nhq80v");
@import url("http://torbots.com/sites/all/themes/stilo/css/style.css?nhq80v");
@import url("http://torbots.com/sites/all/themes/stilo/css/responsive.css?nhq80v");
</style>
  <!-- HTML5 element support for IE6-8 -->
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="http://torbots.com/sites/all/modules/contrib/jquery_update/replace/jquery/1.10/jquery.min.js?v=1.10.2"></script>
<script src="http://torbots.com/misc/jquery.once.js?v=1.2"></script>
<script src="http://torbots.com/misc/drupal.js?nhq80v"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="http://torbots.com/sites/all/modules/custom/st_block/js/st_block.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/modules/custom/st_block/js/jquery.appear.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/modules/custom/st_block/js/jquery.stellar.min.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/jquery.migrate.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/bootstrap.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/jquery.appear.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/waypoints.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/jquery.countTo.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/jquery.bxslider.min.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/jquery.quovolver.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/jquery.imagesloaded.min.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/gmap3.min.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/smooth-scroll.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/plugins-scroll.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/jquery.magnific-popup.min.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/script.js?nhq80v"></script>
<script>jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"stilo","theme_token":"zp8_sgXLP082AY0iLqcuFjN4iANQ1riLQVR2wUagDYI","js":{"sites\/all\/modules\/contrib\/jquery_update\/replace\/jquery\/1.10\/jquery.min.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"http:\/\/maps.google.com\/maps\/api\/js?sensor=false":1,"sites\/all\/modules\/custom\/st_block\/js\/st_block.js":1,"sites\/all\/modules\/custom\/st_block\/js\/jquery.appear.js":1,"sites\/all\/modules\/custom\/st_block\/js\/jquery.stellar.min.js":1,"sites\/all\/themes\/stilo\/js\/jquery.migrate.js":1,"sites\/all\/themes\/stilo\/js\/bootstrap.js":1,"sites\/all\/themes\/stilo\/js\/jquery.appear.js":1,"sites\/all\/themes\/stilo\/js\/waypoints.js":1,"sites\/all\/themes\/stilo\/js\/jquery.countTo.js":1,"sites\/all\/themes\/stilo\/js\/jquery.bxslider.min.js":1,"sites\/all\/themes\/stilo\/js\/jquery.quovolver.js":1,"sites\/all\/themes\/stilo\/js\/jquery.imagesloaded.min.js":1,"sites\/all\/themes\/stilo\/js\/gmap3.min.js":1,"sites\/all\/themes\/stilo\/js\/smooth-scroll.js":1,"sites\/all\/themes\/stilo\/js\/plugins-scroll.js":1,"sites\/all\/themes\/stilo\/js\/jquery.magnific-popup.min.js":1,"sites\/all\/themes\/stilo\/js\/script.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/field\/theme\/field.css":1,"sites\/all\/modules\/contrib\/views\/css\/views.css":1,"sites\/all\/modules\/contrib\/ckeditor\/css\/ckeditor.css":1,"sites\/all\/modules\/contrib\/ctools\/css\/ctools.css":1,"sites\/all\/themes\/stilo\/css\/bootstrap.css":1,"sites\/all\/themes\/stilo\/css\/overrides.css":1,"sites\/all\/themes\/stilo\/css\/fullwidth.css":1,"sites\/all\/themes\/stilo\/css\/magnific-popup.css":1,"sites\/all\/themes\/stilo\/css\/animate.min.css":1,"sites\/all\/themes\/stilo\/css\/font-awesome.css":1,"sites\/all\/themes\/stilo\/css\/jquery.bxslider.css":1,"sites\/all\/themes\/stilo\/css\/style.css":1,"sites\/all\/themes\/stilo\/css\/responsive.css":1}},"bootstrap":{"anchorsFix":1,"anchorsSmoothScrolling":1,"popoverEnabled":1,"popoverOptions":{"animation":1,"html":0,"placement":"right","selector":"","trigger":"click","title":"","content":"","delay":0,"container":"body"},"tooltipEnabled":1,"tooltipOptions":{"animation":1,"html":0,"placement":"auto left","selector":"","trigger":"hover focus","delay":0,"container":"body"}}});</script>
</head>
<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-27 node-type-page navbar-is-fixed-top" >  
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>
    <header id="navbar" role="banner" class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <div class="innher-header">
      <div class="navbar-header">
                <a class="navbar-brand" href="/" title="Home">
          <img src="http://torbots.com/sites/default/files/torbots%20logo_0.JPG" alt="Home" />
        </a>
        
        
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>    

              <div class="navbar-collapse collapse">
          <nav role="navigation">
                          <ul class="nav navbar-nav navbar-right"><li class="first collapsed"><a href="/#home-section" title="">Home</a></li>
<li class="collapsed"><a href="/#about-section" title="">Team </a></li>
<li class="leaf"><a href="/#services-section" title="First Robotics and Game">First Robotics</a></li>
<li class="leaf"><a href="/#sponsors" title="">Sponsors</a></li>
<li class="leaf"><a href="/#gallery-section" title="">Galleries</a></li>
<li class="leaf"><a href="/#contact-section" title="">Contact</a></li>
<li class="leaf active-trail active"><a href="/content/about-us" class="active-trail active">About Us</a></li>
<li class="last leaf"><a href="/content/2016-board">2016 Board</a></li>
</ul>                                              </nav>
        </div>
          </div>
  </div>
</header>

<div class="main-container container">

  <header role="banner" id="page-header">
    
      </header> <!-- /#page-header -->

  <div class="row">

    
    <section class="col-sm-12">
                  <a id="main-content"></a>
                                                                <div class="region region-content">
    <section id="block-system-main" class="block block-system st-block-parallax clearfix" data-stellar-background-ratio="0">

      
  <div id="node-27" class="node node-page node-promoted node-sticky clearfix" about="/content/about-us" typeof="foaf:Document">

  
      <span property="dc:title" content="About Us" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><h2><span style="color:#FF0000;"><u><strong>About Us</strong></u></span></h2>

<p>We are TorBots FRC Team 1197, a&nbsp;<a href="http://www.torbots.com/about-first">FIRST Robotics Competition team</a>&nbsp;from Torrance,&nbsp;California. Founded by South High woodshop teacher Michael Ellena in 2002, TorBots has spread to all four&nbsp;Torrance&nbsp;area high schools: South High, North High, West High, and&nbsp;Torrance&nbsp;High. Our mission is to promote gracious professionalism, improve teamwork skills, and spread knowledge of STEM (Science, Technology, Engineering, and Mathematics) topics to high school students in the&nbsp;Torrance&nbsp;area.</p>

<p>The team consists of about&nbsp;70 members representing all four Torrance high schools. All of the team’s senior members have gone on to college, with many pursuing degrees in engineering. The vast majority of active TorBots members return year after year for what they consider to be an experience like no other.</p>

<p>We received the Regional Finalist Award in 2004 at the&nbsp;Southern California&nbsp;Regional and 2009 at the&nbsp;Las Vegas&nbsp;Regional. In 2010, our integration of special Infrared sensors earned us the Creativity Award at theLos Angeles&nbsp;Regional.&nbsp;Mentor&nbsp;Bruce Ioki received the Regional Woodie Flowers Award&nbsp;at the 2009&nbsp;Los Angeles&nbsp;Regional. In 2011, we won our first regional (the&nbsp;Los Angeles&nbsp;Regional) and advanced to the FIRST World Championships in St. Louis,&nbsp;Missouri. In 2014, we won the Creativity Awat at Los Angelos Regionals. In 2015, we took home 2nd place from LA Regionals</p>

<p>Our team has been featured in the Daily Breeze, the Chinese Daily News, KTTV&nbsp;FOX&nbsp;11 Los Angeles, and has also received a proclamation from the City of&nbsp;Torrance&nbsp; for our achievements. The team has also appeared in&nbsp;<a href="http://media.corporate-ir.net/media_files/irol/84/84193/SR_2007_final/03_vsgv_communities.html" target="_blank">Raytheon’s 2007 Annual Stewardship Report</a>&nbsp;as part of their community involvement program.</p>

<p><strong><u>TorBots in the Community</u></strong></p>

<p>As a team that encompasses the four Torrance high schools, TorBots has always been very involved in the local community. Our efforts to expand the ideals of STEM and FIRST into the lives of the citizens of Torrance continue to grow.</p>

<p><strong><u>Elementary &amp; Middle School Visits</u></strong></p>

<p>The Torrance Unified School District is one of the largest in the region with four high schools, eight middle schools, and 17 elementary schools. As part of our outreach goals, we strive to make the sure that the future generations share our passion for engineering.</p>

<p>In the past years, we have visited Richardson Middle School, Calle Mayor Middle School, Hull Middle School, Jefferson Middle School, Madrona Middle School, and Lynn Middle School as well as Seaside Elementary School and Hickory Elementary School. During these visits, we exhibited our robot and showed them what we do as a club. The sheer joy and interest that these bright young minds showed truly made our work that much more satisfying.</p>

<p>&nbsp;</p>
</div></div></div>  </div>

  
  
</div>

</section> <!-- /.block -->
  </div>
    </section>

    
  </div>
</div>
<!-- footer 
  ================================================== -->
<footer>
  <div class="container">
      <div class="region region-footer">
    <section id="block-block-10" class="block block-block st-block-parallax clearfix" data-stellar-background-ratio="0">

      
  <p>Copyright 2014. All Rights Reserved // Site Sponsored by <a class="text-link" href="http://www.facetinteractive.com" target="_blank" title="Drupal Website Development and Marketing Intelligence">Facet Interactive</a></p>

</section> <!-- /.block -->
  </div>
  </div>
</footer>
<!-- End footer -->
  <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"3088a011c2","applicationID":"8815417","transactionName":"YVMAYEEHVkJUUBBfC1gZI1dHD1dfGl0LUgFpRgNTVjlOWFBE","queueTime":0,"applicationTime":258,"atts":"TRQDFgkdRUw=","errorBeacon":"bam.nr-data.net","agent":"js-agent.newrelic.com\/nr-686.min.js"}</script></body>
</html>