
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8"><script type="text/javascript">window.NREUM||(NREUM={}),__nr_require=function(e,n,t){function r(t){if(!n[t]){var o=n[t]={exports:{}};e[t][0].call(o.exports,function(n){var o=e[t][1][n];return r(o?o:n)},o,o.exports)}return n[t].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<t.length;o++)r(t[o]);return r}({QJf3ax:[function(e,n){function t(e){function n(n,t,a){e&&e(n,t,a),a||(a={});for(var u=c(n),f=u.length,s=i(a,o,r),p=0;f>p;p++)u[p].apply(s,t);return s}function a(e,n){f[e]=c(e).concat(n)}function c(e){return f[e]||[]}function u(){return t(n)}var f={};return{on:a,emit:n,create:u,listeners:c,_events:f}}function r(){return{}}var o="nr@context",i=e("gos");n.exports=t()},{gos:"7eSDFh"}],ee:[function(e,n){n.exports=e("QJf3ax")},{}],3:[function(e,n){function t(e){return function(){r(e,[(new Date).getTime()].concat(i(arguments)))}}var r=e("handle"),o=e(1),i=e(2);"undefined"==typeof window.newrelic&&(newrelic=window.NREUM);var a=["setPageViewName","addPageAction","setCustomAttribute","finished","addToTrace","inlineHit","noticeError"];o(a,function(e,n){window.NREUM[n]=t("api-"+n)}),n.exports=window.NREUM},{1:12,2:13,handle:"D5DuLP"}],gos:[function(e,n){n.exports=e("7eSDFh")},{}],"7eSDFh":[function(e,n){function t(e,n,t){if(r.call(e,n))return e[n];var o=t();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(e,n,{value:o,writable:!0,enumerable:!1}),o}catch(i){}return e[n]=o,o}var r=Object.prototype.hasOwnProperty;n.exports=t},{}],D5DuLP:[function(e,n){function t(e,n,t){return r.listeners(e).length?r.emit(e,n,t):void(r.q&&(r.q[e]||(r.q[e]=[]),r.q[e].push(n)))}var r=e("ee").create();n.exports=t,t.ee=r,r.q={}},{ee:"QJf3ax"}],handle:[function(e,n){n.exports=e("D5DuLP")},{}],XL7HBI:[function(e,n){function t(e){var n=typeof e;return!e||"object"!==n&&"function"!==n?-1:e===window?0:i(e,o,function(){return r++})}var r=1,o="nr@id",i=e("gos");n.exports=t},{gos:"7eSDFh"}],id:[function(e,n){n.exports=e("XL7HBI")},{}],G9z0Bl:[function(e,n){function t(){var e=d.info=NREUM.info,n=f.getElementsByTagName("script")[0];if(e&&e.licenseKey&&e.applicationID&&n){c(p,function(n,t){n in e||(e[n]=t)});var t="https"===s.split(":")[0]||e.sslForHttp;d.proto=t?"https://":"http://",a("mark",["onload",i()]);var r=f.createElement("script");r.src=d.proto+e.agent,n.parentNode.insertBefore(r,n)}}function r(){"complete"===f.readyState&&o()}function o(){a("mark",["domContent",i()])}function i(){return(new Date).getTime()}var a=e("handle"),c=e(1),u=window,f=u.document;e(2);var s=(""+location).split("?")[0],p={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-686.min.js"},d=n.exports={offset:i(),origin:s,features:{}};f.addEventListener?(f.addEventListener("DOMContentLoaded",o,!1),u.addEventListener("load",t,!1)):(f.attachEvent("onreadystatechange",r),u.attachEvent("onload",t)),a("mark",["firstbyte",i()])},{1:12,2:3,handle:"D5DuLP"}],loader:[function(e,n){n.exports=e("G9z0Bl")},{}],12:[function(e,n){function t(e,n){var t=[],o="",i=0;for(o in e)r.call(e,o)&&(t[i]=n(o,e[o]),i+=1);return t}var r=Object.prototype.hasOwnProperty;n.exports=t},{}],13:[function(e,n){function t(e,n,t){n||(n=0),"undefined"==typeof t&&(t=e?e.length:0);for(var r=-1,o=t-n||0,i=Array(0>o?0:o);++r<o;)i[r]=e[n+r];return i}n.exports=t},{}]},{},["G9z0Bl"]);</script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="http://torbots.com/sites/default/files/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="shortlink" href="/node/2" />
<link rel="canonical" href="/home" />
<meta name="Generator" content="Drupal 7 (http://drupal.org)" />
  <title>Home | Torbots | FIRST Team 1197</title>
  <style>
@import url("http://torbots.com/modules/system/system.base.css?nhq80v");
</style>
<style>
@import url("http://torbots.com/modules/field/theme/field.css?nhq80v");
@import url("http://torbots.com/sites/all/modules/contrib/views/css/views.css?nhq80v");
@import url("http://torbots.com/sites/all/modules/contrib/ckeditor/css/ckeditor.css?nhq80v");
</style>
<style>
@import url("http://torbots.com/sites/all/modules/contrib/ctools/css/ctools.css?nhq80v");
@import url("http://torbots.com/sites/all/modules/custom/md_slider/css/animate.css?nhq80v");
@import url("http://torbots.com/sites/all/modules/custom/md_slider/css/md-slider.css?nhq80v");
</style>
<style>.md-layer-2-0-0{z-index:997 !important;}.md-layer-2-0-1{z-index:998 !important;}.md-layer-2-0-2{z-index:999 !important;text-align:center;font-size:7.9166666666667em;}.md-layer-2-0-3{z-index:995 !important;}.md-layer-2-0-4{z-index:996 !important;}.md-layer-2-1-0{z-index:996 !important;text-align:center;font-size:7.6666666666667em;}.md-layer-2-1-1{z-index:997 !important;text-align:center;font-size:1.1666666666667em;}.md-layer-2-1-2{z-index:998 !important;text-align:center;font-size:1.1666666666667em;}.md-layer-2-2-0{z-index:998 !important;text-align:center;font-size:7.6666666666667em;}.md-layer-2-2-1{z-index:999 !important;text-align:center;font-size:1.1666666666667em;}.md-layer-2-2-2{z-index:1000 !important;text-align:center;font-size:1.1666666666667em;}.md-layer-2-3-0{z-index:998 !important;text-align:center;font-size:7.6666666666667em;}.md-layer-2-3-1{z-index:1000 !important;text-align:center;font-size:1.1666666666667em;}.md-layer-2-3-2{z-index:2 !important;text-align:center;font-size:1.1666666666667em;}.md-layer-2-3-3{z-index:2 !important;text-align:center;font-size:7.6666666666667em;}.md-layer-2-3-4{z-index:2 !important;text-align:center;font-size:1.1666666666667em;}.md-layer-2-3-5{z-index:2 !important;text-align:center;font-size:1.1666666666667em;}
</style>
<style>
@import url("http://torbots.com/sites/all/modules/custom/md_slider/css/md-slider-style.css?nhq80v");
@import url("http://torbots.com/sites/all/modules/contrib/views_isotope/views_isotope.css?nhq80v");
@import url("http://torbots.com/sites/all/modules/custom/st_block/css/st-block.css?nhq80v");
</style>
<style>
@import url("http://torbots.com/sites/all/themes/stilo/css/bootstrap.css?nhq80v");
@import url("http://torbots.com/sites/all/themes/stilo/css/overrides.css?nhq80v");
@import url("http://torbots.com/sites/all/themes/stilo/css/fullwidth.css?nhq80v");
@import url("http://torbots.com/sites/all/themes/stilo/css/magnific-popup.css?nhq80v");
@import url("http://torbots.com/sites/all/themes/stilo/css/animate.min.css?nhq80v");
@import url("http://torbots.com/sites/all/themes/stilo/css/font-awesome.css?nhq80v");
@import url("http://torbots.com/sites/all/themes/stilo/css/jquery.bxslider.css?nhq80v");
@import url("http://torbots.com/sites/all/themes/stilo/css/style.css?nhq80v");
@import url("http://torbots.com/sites/all/themes/stilo/css/responsive.css?nhq80v");
</style>
  <!-- HTML5 element support for IE6-8 -->
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="http://torbots.com/sites/all/modules/contrib/jquery_update/replace/jquery/1.10/jquery.min.js?v=1.10.2"></script>
<script src="http://torbots.com/misc/jquery.once.js?v=1.2"></script>
<script src="http://torbots.com/misc/drupal.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/modules/contrib/jquery_update/replace/ui/external/jquery.cookie.js?v=67fb34f6a866c40d0570"></script>
<script src="http://torbots.com/sites/all/modules/custom/md_slider/js/jquery.touchwipe.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/modules/custom/md_slider/js/mdvideobox.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/modules/custom/md_slider/js/modernizr.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/modules/custom/md_slider/js/jquery.easing.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/modules/custom/md_slider/js/md-slider.dev.js?nhq80v"></script>
<script>(function($) {
      $(document).ready(function() {
          effectsIn = Drupal.settings.inEffects;
          effectsOut = Drupal.settings.outEffects;
          var options = Drupal.settings.md_slider_options_2;
          $('#md-slider-2-block').mdSlider(options);
      });
    })(jQuery);</script>
<script src="http://torbots.com/sites/all/libraries/jquery.isotope/jquery.isotope.min.js?nhq80v"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/views_isotope.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/modules/custom/st_block/js/st_block.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/modules/custom/st_block/js/jquery.appear.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/modules/custom/st_block/js/waypoints.min.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/modules/custom/st_block/js/jquery.stellar.min.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/jquery.migrate.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/bootstrap.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/jquery.appear.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/waypoints.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/jquery.countTo.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/jquery.bxslider.min.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/jquery.quovolver.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/jquery.imagesloaded.min.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/gmap3.min.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/smooth-scroll.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/plugins-scroll.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/jquery.magnific-popup.min.js?nhq80v"></script>
<script src="http://torbots.com/sites/all/themes/stilo/js/script.js?nhq80v"></script>
<script>jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"stilo","theme_token":"XGwBQ6qMFTnbmTLgjM8xkZVD93b60kljIKrnoZ7FS8o","js":{"sites\/all\/modules\/contrib\/jquery_update\/replace\/jquery\/1.10\/jquery.min.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"sites\/all\/modules\/contrib\/jquery_update\/replace\/ui\/external\/jquery.cookie.js":1,"sites\/all\/modules\/custom\/md_slider\/js\/jquery.touchwipe.js":1,"sites\/all\/modules\/custom\/md_slider\/js\/mdvideobox.js":1,"sites\/all\/modules\/custom\/md_slider\/js\/modernizr.js":1,"sites\/all\/modules\/custom\/md_slider\/js\/jquery.easing.js":1,"sites\/all\/modules\/custom\/md_slider\/js\/md-slider.dev.js":1,"0":1,"sites\/all\/libraries\/jquery.isotope\/jquery.isotope.min.js":1,"http:\/\/maps.google.com\/maps\/api\/js?sensor=false":1,"sites\/all\/themes\/stilo\/js\/views_isotope.js":1,"sites\/all\/modules\/custom\/st_block\/js\/st_block.js":1,"sites\/all\/modules\/custom\/st_block\/js\/jquery.appear.js":1,"sites\/all\/modules\/custom\/st_block\/js\/waypoints.min.js":1,"sites\/all\/modules\/custom\/st_block\/js\/jquery.stellar.min.js":1,"sites\/all\/themes\/stilo\/js\/jquery.migrate.js":1,"sites\/all\/themes\/stilo\/js\/bootstrap.js":1,"sites\/all\/themes\/stilo\/js\/jquery.appear.js":1,"sites\/all\/themes\/stilo\/js\/waypoints.js":1,"sites\/all\/themes\/stilo\/js\/jquery.countTo.js":1,"sites\/all\/themes\/stilo\/js\/jquery.bxslider.min.js":1,"sites\/all\/themes\/stilo\/js\/jquery.quovolver.js":1,"sites\/all\/themes\/stilo\/js\/jquery.imagesloaded.min.js":1,"sites\/all\/themes\/stilo\/js\/gmap3.min.js":1,"sites\/all\/themes\/stilo\/js\/smooth-scroll.js":1,"sites\/all\/themes\/stilo\/js\/plugins-scroll.js":1,"sites\/all\/themes\/stilo\/js\/jquery.magnific-popup.min.js":1,"sites\/all\/themes\/stilo\/js\/script.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/field\/theme\/field.css":1,"sites\/all\/modules\/contrib\/views\/css\/views.css":1,"sites\/all\/modules\/contrib\/ckeditor\/css\/ckeditor.css":1,"sites\/all\/modules\/contrib\/ctools\/css\/ctools.css":1,"sites\/all\/modules\/custom\/md_slider\/css\/animate.css":1,"sites\/all\/modules\/custom\/md_slider\/css\/md-slider.css":1,"0":1,"sites\/all\/modules\/custom\/md_slider\/css\/md-slider-style.css":1,"sites\/all\/modules\/contrib\/views_isotope\/views_isotope.css":1,"sites\/all\/modules\/custom\/st_block\/css\/animate.min.css":1,"sites\/all\/modules\/custom\/st_block\/css\/st-block.css":1,"sites\/all\/themes\/stilo\/css\/bootstrap.css":1,"sites\/all\/themes\/stilo\/css\/overrides.css":1,"sites\/all\/themes\/stilo\/css\/fullwidth.css":1,"sites\/all\/themes\/stilo\/css\/magnific-popup.css":1,"sites\/all\/themes\/stilo\/css\/animate.min.css":1,"sites\/all\/themes\/stilo\/css\/font-awesome.css":1,"sites\/all\/themes\/stilo\/css\/jquery.bxslider.css":1,"sites\/all\/themes\/stilo\/css\/style.css":1,"sites\/all\/themes\/stilo\/css\/responsive.css":1}},"inEffects":["bounceIn","bounceInDown","bounceInUp","bounceInLeft","bounceInRight","fadeIn","fadeInUp","fadeInDown","fadeInLeft","fadeInRight","fadeInUpBig","fadeInDownBig","fadeInLeftBig","fadeInRightBig","flipInX","flipInY","foolishIn","lightSpeedIn","puffIn","rollIn","rotateIn","rotateInDownLeft","rotateInDownRight","rotateInUpLeft","rotateInUpRight","twisterInDown","twisterInUp","swap","swashIn","tinRightIn","tinLeftIn","tinUpIn","tinDownIn","vanishIn"],"outEffects":["bombRightOut","bombLeftOut","bounceOut","bounceOutDown","bounceOutUp","bounceOutLeft","bounceOutRight","fadeOut","fadeOutUp","fadeOutDown","fadeOutLeft","fadeOutRight","fadeOutUpBig","fadeOutDownBig","fadeOutLeftBig","fadeOutRightBig","flipOutX","flipOutY","foolishOut","hinge","holeOut","lightSpeedOut","puffOut","rollOut","rotateOut","rotateOutDownLeft","rotateOutDownRight","rotateOutUpLeft","rotateOutUpRight","rotateDown","rotateUp","rotateLeft","rotateRight","swashOut","tinRightOut","tinLeftOut","tinUpOut","tinDownOut","vanishOut"],"md_slider_options_2":{"fullwidth":true,"transitionsSpeed":800,"width":"1302","height":"670","enableDrag":true,"responsive":true,"loop":true,"showLoading":false,"loadingPosition":"bottom","showArrow":true,"showBullet":true,"posBullet":"1","showThumb":false,"posThumb":"1","slideShowDelay":"8000","slideShow":true,"styleBorder":"0","styleShadow":"0","videoBox":false},"bootstrap":{"anchorsFix":1,"anchorsSmoothScrolling":1,"popoverEnabled":1,"popoverOptions":{"animation":1,"html":0,"placement":"right","selector":"","trigger":"click","title":"","content":"","delay":0,"container":"body"},"tooltipEnabled":1,"tooltipOptions":{"animation":1,"html":0,"placement":"auto left","selector":"","trigger":"hover focus","delay":0,"container":"body"}}});</script>
</head>
<body class="html front not-logged-in no-sidebars page-node page-node- page-node-2 node-type-page navbar-is-fixed-top" >  
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>
    <!-- Container -->
  <div id="container">
  <header id="navbar" role="banner" class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <div class="innher-header">
        <div class="navbar-header">
                    <a class="navbar-brand" href="/" title="Home">
            <img src="http://torbots.com/sites/default/files/torbots%20logo_0.JPG" alt="Home" />
          </a>
          
          
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>    

                  <div class="navbar-collapse collapse">
            <nav role="navigation">
                              <ul class="nav navbar-nav navbar-right"><li class="first collapsed active"><a href="/#home-section" title="" class="active">Home</a></li>
<li class="collapsed active"><a href="/#about-section" title="" class="active">Team </a></li>
<li class="leaf active"><a href="/#services-section" title="First Robotics and Game" class="active">First Robotics</a></li>
<li class="leaf active"><a href="/#sponsors" title="" class="active">Sponsors</a></li>
<li class="leaf active"><a href="/#gallery-section" title="" class="active">Galleries</a></li>
<li class="leaf active"><a href="/#contact-section" title="" class="active">Contact</a></li>
<li class="leaf"><a href="/content/about-us">About Us</a></li>
<li class="last leaf"><a href="/content/2016-board">2016 Board</a></li>
</ul>                                                      </nav>
          </div>
              </div>
    </div>
  </header>

  <div class="main-container">

    <header role="banner" id="page-header">
      
        <div class="region region-header">
    
<div style="background:url(http://torbots.com/);" id="home-section" class="block block-md-slider st-block st-block-parallax" data-stellar-background-ratio="0">  
  
      
  
  <div class="block-content">
            
    <div class="content">
      <div id="md-slider-2-block" class="md-slide-items" data-thumb-width='100' data-thumb-height='75'>
          <div class="md-slide-item slide-1" data-timeout='8000' data-thumb-type='color' data-thumb='height: 75px; width: 100px'>
    <div class="md-mainimg" style="height: 670px">
          </div>
    <div class="md-objects">
            <div class="md-object md-layer-2-0-0" data-x='0' data-y='0' data-width='1302' data-height='670' data-start='0' data-stop='8000'>
                        <img src="http://torbots.com/sites/default/files/torbots%20trophy_1.jpg" alt="torbots trophy.jpg" />
              </div>
            <div class="md-object md-layer-2-0-1" data-x='616' data-y='0' data-width='416' data-height='667' data-start='0' data-stop='8000'>
                        <img src="http://torbots.com/sites/default/files/IMAGE%20OP_2.jpg" alt="IMAGE OP.jpg" />
              </div>
            <div class="md-object none md-layer-2-0-2" data-x='187' data-y='241' data-width='836' data-height='90' data-start='0' data-stop='8006' data-easein='bounceInUp' data-easeout='bounceOutDown'>
                        <div class="caption large_text lft tp-caption">Team<span>                  <span>1197</span></div>              </div>
            <div class="md-object md-layer-2-0-3" data-x='0' data-y='0' data-width='1302' data-height='670' data-start='0' data-stop='8000'>
                        <img src="http://torbots.com/sites/default/files/torbots%20trophy_1.jpg" alt="torbots trophy.jpg" />
              </div>
            <div class="md-object md-layer-2-0-4" data-x='616' data-y='0' data-width='416' data-height='667' data-start='0' data-stop='8000'>
                        <img src="http://torbots.com/sites/default/files/IMAGE%20OP_2.jpg" alt="IMAGE OP.jpg" />
              </div>
        </div>
</div>
          <div class="md-slide-item slide-2" data-timeout='8000' data-transition="fade" data-thumb-type='image' data-thumb='http://torbots.com/sites/default/files/styles/md_slider_2_thumb/public/Team%20Pic_0.jpg?itok=FfiKszfQ'>
    <div class="md-mainimg" style="">
            
      <img src="http://torbots.com/sites/default/files/Team%20Pic_0.jpg" alt="" />
      <div class="overlay"></div>
          </div>
    <div class="md-objects">
            <div class="md-object none md-layer-2-1-0" data-x='252' data-y='211' data-width='782' data-height='90' data-start='600' data-stop='6500' data-easein='bounceInDown' data-easeout='bounceOutUp'>
                        <div class="caption large_text lft tp-caption">WE ARE <span>TORBOTS</span></div>              </div>
            <div class="md-object md-layer-2-1-1" data-x='316' data-y='329' data-width='660' data-height='21' data-start='1200' data-stop='7700' data-easein='fadeInUp' data-easeout='fadeOutUp'>
                        <div class="caption big_white lfb stt tp-caption">STUDENT RUN, STUDENT DONE</div>              </div>
            <div class="md-object md-layer-2-1-2" data-x='560' data-y='353' data-width='172' data-height='30' data-start='1700' data-stop='7100' data-easein='fadeInUp' data-easeout='fadeOutUp'>
                        <div class="caption modern_small_text_dark lfb tp-caption"><a href="/#contact-section">Join Now!</a> </div>              </div>
        </div>
</div>
          <div class="md-slide-item slide-3" data-timeout='8000' data-transition="fade" data-thumb-type='image' data-thumb='http://torbots.com/sites/default/files/styles/md_slider_2_thumb/public/torbots%20trogtor.jpg?itok=LYcPdcPE'>
    <div class="md-mainimg" style="">
            
      <img src="http://torbots.com/sites/default/files/torbots%20trogtor.jpg" alt="" />
      <div class="overlay"></div>
          </div>
    <div class="md-objects">
            <div class="md-object none md-layer-2-2-0" data-x='271' data-y='225' data-width='782' data-height='90' data-start='600' data-stop='6500' data-easein='bounceInDown' data-easeout='bounceOutUp'>
                        <div class="caption large_text lft tp-caption">TEAM <span>EFFORT</span></div>              </div>
            <div class="md-object md-layer-2-2-1" data-x='315' data-y='329' data-width='660' data-height='21' data-start='1200' data-stop='7700' data-easein='fadeInUp' data-easeout='fadeOutUp'>
                        <div class="caption big_white lfb stt tp-caption">WORKING TOGETHER TO CREATE THE BEST ROBOT</div>              </div>
            <div class="md-object md-layer-2-2-2" data-x='560' data-y='353' data-width='172' data-height='30' data-start='1700' data-stop='7100' data-easein='fadeInUp' data-easeout='fadeOutUp'>
                        <div class="caption modern_small_text_dark lfb tp-caption"><a href="/#contact-section">Join Now!</a> </div>              </div>
        </div>
</div>
          <div class="md-slide-item slide-4" data-timeout='8000' data-transition="fade" data-thumb-type='image' data-thumb='http://torbots.com/sites/default/files/styles/md_slider_2_thumb/public/1_0.jpg?itok=vt6oCf1c'>
    <div class="md-mainimg" style="">
            
      <img src="http://torbots.com/sites/default/files/1_0.jpg" alt="" />
      <div class="overlay"></div>
          </div>
    <div class="md-objects">
            <div class="md-object md-layer-2-3-0" data-x='0' data-y='81' data-width='1301' data-height='337' data-start='600' data-stop='6500' data-easein='bounceInDown' data-easeout='bounceOutUp'>
                        <div class="caption large_text lft tp-caption">Innovation. Creativity. Persistence.<span>Gracious Professionalism</span></div>              </div>
            <div class="md-object md-layer-2-3-1" data-x='563' data-y='505' data-width='172' data-height='30' data-start='1700' data-stop='7100' data-easein='fadeInUp' data-easeout='fadeOutUp'>
                        <div class="caption modern_small_text_dark lfb tp-caption"><a href="/#contact-section">Join Now!</a> </div>              </div>
            <div class="md-object md-layer-2-3-2" data-x='333' data-y='423' data-width='660' data-height='21' data-start='1200' data-stop='7700' data-easein='fadeInUp' data-easeout='fadeOutUp'>
                        <div class="caption big_white lfb stt tp-caption">These values are what make us TorBots</div>              </div>
            <div class="md-object md-layer-2-3-3" data-x='0' data-y='81' data-width='1301' data-height='337' data-start='600' data-stop='6500' data-easein='bounceInDown' data-easeout='bounceOutUp'>
                        <div class="caption large_text lft tp-caption">Innovation. Creativity. Persistence.<span>Gracious Professionalism</span></div>              </div>
            <div class="md-object md-layer-2-3-4" data-x='563' data-y='505' data-width='172' data-height='30' data-start='1700' data-stop='7100' data-easein='fadeInUp' data-easeout='fadeOutUp'>
                        <div class="caption modern_small_text_dark lfb tp-caption"><a href="/#contact-section">Join Now!</a> </div>              </div>
            <div class="md-object md-layer-2-3-5" data-x='333' data-y='423' data-width='660' data-height='21' data-start='1200' data-stop='7700' data-easein='fadeInUp' data-easeout='fadeOutUp'>
                        <div class="caption big_white lfb stt tp-caption">These values are what make us TorBots</div>              </div>
        </div>
</div>
    </div>

    </div>
  </div>
</div>
  </div>
    </header> <!-- /#page-header -->

    <div class="row">

      
      <section class="col-sm-12">
                        <a id="main-content"></a>
                                <div class="alert alert-block alert-success">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
<h4 class="element-invisible">Status message</h4>
Active context: home</div>
                                                    <div class="region region-content">
    <section id="block-system-main" class="block block-system st-block-parallax clearfix" data-stellar-background-ratio="0">

      
  <div id="node-2" class="node node-page clearfix" about="/home" typeof="foaf:Document">

  
      <span property="dc:title" content="Home" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><!-- testimonial 
	================================================== -->
<div class="section triggerAnimation animated" data-animate="fadeInUp">
<div data-stellar-background-ratio="0" id="testimonial-section">
<div class="container">
<p class="rtecenter"><span style="color:#FFFFFF;"><span style="font-size:16px;"><strong>We are TorBots. Founded in 2002, our team has grown to include roughly 70 students from South, West, North, and Torrance High Schools. Our mission is striving to promote gracious professionalism, improve teamwork skills and kindle appreciation for STEM subjects in high school students enrolled in TUSD. TorBots members return every year for what they consider to be a unique experience. TorBots is a "student-run, student-done" team, but we are fortunate to have support from our dedicated mentors and parents. Our build season starts in January and concludes with competitions in March and April, and during the summer, we focus on community outreach, fundraising, and welcoming new members. All interested students are welcome as long as they show enthusiasm, optimism and commitment.</strong></span></span></p>
</div>
</div>
</div>
</div></div></div>  </div>

  
  
</div>

</section> <!-- /.block -->
<section id="about-section" class="block block-block triggerAnimation st-block-parallax clearfix" data-animate="fadeInUp" data-stellar-background-ratio="0">

      
  <div class="container">
<div>
<div>
<h1 class="rtecenter">Our Team</h1>
</div>
</div>

<div><img alt="" src="/sites/default/files/gears.jpg" style="width: 1184px; height: 500px;" /></div>
<br />
<br />
&nbsp;
<div class="services-box2">
<div class="row">
<div class="col-md-4">
<div class="services-post"><a class="services-icon" href="#"><i class="fa fa-bell-o">&nbsp;</i></a>

<div class="services-post-content">
<h4><span style="font-size:14px;"><strong>Innovation</strong></span></h4>

<p><span style="color: rgb(0, 0, 0); font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px;">Our engineering team focuses on proper innovation and aims for the most efficient designs in our projects. Their ideas help the rest of the team create proper functions around the common goal of success in real life situations.</span></p>
</div>
</div>
</div>

<div class="col-md-4">
<div class="services-post"><a class="services-icon" href="#"><i class="fa fa-desktop">&nbsp;</i></a>

<div class="services-post-content">
<h4><span style="color:#000000;"><span style="font-size:14px;"><strong>Creativity</strong></span></span></h4>

<p><span style="color:#000000;"><span style="font-size:14px;">Our programming team uses Java to write the code for our robots, and fixes all of the problems that can’t be fixed with a hammer or a wrench.</span></span></p>
</div>
</div>
</div>

<div class="col-md-4">
<div class="services-post"><a class="services-icon" href="#"><i class="fa fa-desktop">&nbsp;</i></a>

<div class="services-post-content">
<h4><a href="#">Persistence</a></h4>

<p><span style="color:#000000;"><span style="font-size:14px;">Our Business Operations team handles our finances and sponsorships. They are hardworking and adaptive to the situation the team goes through. They also help make sure that there will be enough money to make the year productive.</span></span></p>
</div>
</div>
</div>
</div>
</div>
</div>

</section> <!-- /.block -->

<div style="background:url(http://torbots.com/);" id="services-section" class="block block-block triggerAnimation st-block st-block-parallax" data-animate="fadeInDownBig" data-stellar-background-ratio="0">  
  
      
  
  <div class="block-content">
            
    <div class="content">
      <p>&nbsp;</p>

<p>&nbsp;</p>

<div class="container">
<h1><span style="color:#000000;">First Robotics and Game</span></h1>

<div class="services-box2">
<div class="row">
<div class="col-md-4">
<div class="services-post"><a class="services-icon" href="#"><span style="color:#000000;"><i class="fa fa-bell-o">&nbsp;</i></span></a>

<div class="services-post-content">
<h4><span style="color:#000000;"><span style="font-size:14px;"><strong>2015&nbsp;Los Angeles Regionals</strong></span></span></h4>

<p><strong><span style="color:#000000;">We placed in 2nd place in the 2015 regionals.</span></strong>&nbsp;</p>

<p>&nbsp;</p>
</div>
</div>
</div>

<div class="services-box2">
<div class="col-md-4">
<div class="services-post"><a class="services-icon" href="#"><span style="color:#000000;"><i class="fa fa-bell-o">&nbsp;</i></span></a>

<div class="services-post-content">
<h4><span style="font-size: 14px;"><strong>FRC</strong></span><span style="color:#000000;"><span style="font-size: 14px;"><strong> Competition 2014</strong></span></span></h4>

<p><span style="color:#000000;"><span style="font-size: 14px;">&nbsp;<strong>In 2014, our team had to design and build a robot that was capable of launching a 2kg ball into a 10 ft goal post. Additionally, &nbsp;our team had to incorporate teamwork strategies into building the robot.</strong>&nbsp;</span></span></p>
</div>
</div>
</div>

<div class="col-md-4">
<div class="services-post"><a class="services-icon" href="#"><span style="color:#000000;"><i class="fa fa-desktop">&nbsp;</i></span></a>

<div class="services-post-content">
<h4><strong>2010 L.A. Regional Creativity Award</strong></h4>

<p><span style="font-size:14px;"><strong>Torbots won the 2010 Los Angeles Regional Creativity Award for the most creative robot design</strong>.&nbsp;</span></p>
</div>
</div>
</div>
</div>
</div>
</div>

<p>&nbsp;</p>

<p>&nbsp;</p>
</div>
    </div>
  </div>
</div>

<div style="background:url(http://torbots.com/);" id="statistic-section" class="block block-block st-block st-block-parallax" data-stellar-background-ratio="0">  
  
      
  
  <div class="block-content">
            
    <div class="content">
      <div class="title-section triggerAnimation animated" data-animate="bounceIn">
<div class="title-line">
<div>
<p>TorBot&nbsp;STATISTICS</p>
<span class="line-top">&nbsp;</span> <span class="line-center">&nbsp;</span> <span class="line-bottom">&nbsp;</span></div>
</div>

<p><span>Take a look in our best stats</span></p>
</div>

<div class="statistic-box triggerAnimation animated" data-animate="fadeIn">
<div class="container">
<div class="row">
<div class="col-md-3">
<div class="statistic-post"><span class="icon-stat"><i class="fa fa-leaf">&nbsp;</i></span>

<p><span class="timer" data-from="0" data-to="81">&nbsp;</span></p>

<p>Current Members</p>
</div>
</div>

<div class="col-md-3">
<div class="statistic-post"><span class="icon-stat"><i class="fa fa-users">&nbsp;</i></span>

<p><span class="timer" data-from="0" data-to="8">&nbsp;</span></p>

<p>Awards Won</p>
</div>
</div>

<div class="col-md-3">
<div class="statistic-post"><span class="icon-stat"><i class="fa fa-tags">&nbsp;</i></span>

<p><span class="timer" data-from="1" data-to="301">&nbsp;</span></p>

<p>Days Until Season</p>
</div>
</div>

    </div>
  </div>
</div>
<section id="Portfolio-section" class="block block-views triggerAnimation st-block-parallax clearfix" data-animate="fadeIn" data-stellar-background-ratio="0">

      
  <div class="view view-portfolio view-id-portfolio view-display-id-block view-dom-id-76f3a3635b8706c4ca58043a3f9539ff">
            <div class="view-header">
      <div class="container">
        <h1 style="text-align:center;"><span>GALLERIES</span></h1>
</div>
<br>
<br>
<a id="gallery-section" name="gallery-section></a>
    </div>
  
  
  
      <div class="view-content">
        <div id="isotope-container">
                    <div class="isotope-element isotope-element-0 " data-category="" >
          
  <div class="views-field views-field-field-gallery-images-1">        <div class="field-content"><img typeof="foaf:Image" src="http://torbots.com/sites/default/files/styles/portfolio_392x296_/public/gallery-images/Resized-JARFX.jpg?itok=EOdRCbUN" width="392" height="296" alt="" title="Brainstorming the design for the robots!" />
<div class="hover-box">
	<div class="work-title">
		<h2><a href="/gallery/2015-summer-season">2015 Summer Season!</a></h2>
		<span>1v1 Summer Soccer Game</span>
	</div>
</div></div>  </div>      </div>
                      <div class="isotope-element isotope-element-1 " data-category="" >
          
  <div class="views-field views-field-field-gallery-images-1">        <div class="field-content"><img typeof="foaf:Image" src="http://torbots.com/sites/default/files/styles/portfolio_392x296_/public/gallery-images/Resized-J3W31.jpg?itok=4lYnRBAh" width="392" height="296" alt="" />
<div class="hover-box">
	<div class="work-title">
		<h2><a href="/gallery/2015-recycle-rush">2015 RECYCLE RUSH!</a></h2>
		<span>Sweeping Away the Competitions</span>
	</div>
</div></div>  </div>      </div>
                      <div class="isotope-element isotope-element-2 " data-category="" >
          
  <div class="views-field views-field-field-gallery-images-1">        <div class="field-content"><img typeof="foaf:Image" src="http://torbots.com/sites/default/files/styles/portfolio_392x296_/public/gallery-images/P3250010.JPG?itok=CXdNG6L0" width="392" height="296" alt="" />
<div class="hover-box">
	<div class="work-title">
		<h2><a href="/gallery/robotics-2004">Robotics 2004</a></h2>
		<span>Looking back at 2004</span>
	</div>
</div></div>  </div>      </div>
                      <div class="isotope-element isotope-element-3 " data-category="" >
          
  <div class="views-field views-field-field-gallery-images-1">        <div class="field-content"><img typeof="foaf:Image" src="http://torbots.com/sites/default/files/styles/portfolio_392x296_/public/gallery-images/P2230241.JPG?itok=QIH6lfrx" width="392" height="296" alt="" title="South High Congratulates TorBots  " />
<div class="hover-box">
	<div class="work-title">
		<h2><a href="/gallery/robotics-2003">Robotics 2003</a></h2>
		<span></span>
	</div>
</div></div>  </div>      </div>
                      <div class="isotope-element isotope-element-4 " data-category="" >
          
  <div class="views-field views-field-field-gallery-images-1">        <div class="field-content"><img typeof="foaf:Image" src="http://torbots.com/sites/default/files/styles/portfolio_392x296_/public/gallery-images/pic2.jpg?itok=wjGnkEtU" width="392" height="296" alt="" title="Team" />
<div class="hover-box">
	<div class="work-title">
		<h2><a href="/gallery/2014">2014</a></h2>
		<span></span>
	</div>
</div></div>  </div>      </div>
            </div>


    </div>
  
  
  
  
  
  
</div>
</section> <!-- /.block -->

<div style="background:url(http://torbots.com/);" id="connected-section" class="block block-block triggerAnimation st-block st-block-parallax" data-animate="lightSpeedIn" data-stellar-background-ratio="0">  
  
      
  
  <div class="block-content">
            
    <div class="content">
      <div class="container">
<h1><span>Get connected</span></h1>

<div class="row">
<div class="col-md-4">
<div class="connect-post"><span class="connect-icon"><i class="fa fa-twitter">&nbsp;</i></span>

<h2>Twitter</h2>
<a href="https://twitter.com/1197torbots">Follow Us on Twitter</a></div>
</div>

<div class="col-md-4">
<div class="connect-post"><span class="connect-icon"><i class="fa fa-facebook">&nbsp;</i></span>

<h2>Facebook</h2>
<a href="https://www.facebook.com/groups/154940707883731/">Join the Facebook Group</a></div>
</div>

<div class="col-md-4">
<div class="connect-post"><span class="connect-icon"><i class="fa fa-google-plus">&nbsp;</i></span>

<h2>Google +</h2>
<a href="#">Follow Us on Google +</a></div>
</div>
</div>
</div>
    </div>
  </div>
</div>
<section id="client-section" class="block block-block triggerAnimation st-block-parallax clearfix" data-animate="bounceIn" data-stellar-background-ratio="0">

      
  <div class="container">
<a name="sponsors" id="sponsors"></a>
<ul class="bxslider">
	<li>
	<ul class="clients">
		<li><a href="http://www.boeing.com/boeing/"><img alt="" src="/sites/default/files/sponsors/footer-logos/boeing.png" /></a></li>
		<li><a href="http://corporate.exxonmobil.com/"><img alt="" src="/sites/default/files/sponsors/footer-logos/exxonmobil.png" /></a></li>
		<li><a href="https://www.usfirst.org"><img alt="" src="/sites/default/files/sponsors/footer-logos/first.png" /></a></li>
		<li><a href="http://www.moog.com/"><img alt="" src="/sites/default/files/sponsors/footer-logos/moog.png" /></a></li>
		<li><a href="http://www.raytheon.com/"><img alt="" src="/sites/default/files/sponsors/footer-logos/raytheon.png" /></a></li>
		<li><a href="http://www.northropgrumman.com/Pages/default.aspx"><img alt="" src="/sites/default/files/sponsors/footer-logos/northrop.png" /></a></li>
	</ul>
	</li>
	<li>
	<ul class="clients">
      <li><a href="http://www.praxair.com/"><img alt="" src="/sites/default/files/sponsors/footer-logos/praxair.png" /></a></li>
		<li><a href="http://www.torranceeducationfoundation.org/"><img alt="" src="/sites/default/files/sponsors/footer-logos/tef.png" /></a></li>
		<li><a href="http://www.walteriabusinessmensclub.org/"><img alt="" src="/sites/default/files/sponsors/footer-logos/wbmc.png" /></a></li>
		<li><a href="http://www.facetinteractive.com"><img alt="" src="/sites/default/files/sponsors/footer-logos/facet-interactive.png" /></a></li>
		<li><a href="http://www.elcamino.edu/"><img alt="" src="/sites/default/files/sponsors/footer-logos/el-camino.png" /></a></li>
		<li><a href="http://www.intuitivesurgical.com/"><img alt="" src="/sites/default/files/sponsors/footer-logos/intuitive-surgical.png" /></a></li>
	</ul>
	</li>
	<li>
	<ul class="clients">
      <li><a href="#"><img alt="" src="/sites/default/files/sponsors/footer-logos/sleepy-hollow.png" /></a></li>
		<li><a href="/#contact-section"><img alt="" src="/sites/default/files/sponsors/footer-logos/sponsor-torbots.png" /></a></li>
		<li><a href="/#contact-section"><img alt="" src="/sites/default/files/sponsors/footer-logos/sponsor-torbots.png" /></a></li>
		<li><a href="/#contact-section"><img alt="" src="/sites/default/files/sponsors/footer-logos/sponsor-torbots.png" /></a></li>
		<li><a href="/#contact-section"><img alt="" src="/sites/default/files/sponsors/footer-logos/sponsor-torbots.png" /></a></li>
		<li><a href="/#contact-section"><img alt="" src="/sites/default/files/sponsors/footer-logos/sponsor-torbots.png" /></a></li>
	</ul>
	</li>
</ul>
</div>

</section> <!-- /.block -->

<div style="background:url(http://torbots.com/);" id="contact-section" class="block block-block triggerAnimation st-block st-block-parallax" data-animate="zoomInDown" data-stellar-background-ratio="0">  
  
      
  
  <div class="block-content">
            
    <div class="content">
      <div class="container">
<div class="title-section">
<div class="title-line">
<p><span style="font-size:36px;"><span style="font-family:arial,helvetica,sans-serif;">CONTACT US</span></span></p>
<span style="font-size:36px;"><span style="font-family:arial,helvetica,sans-serif;"><span class="line-top">&nbsp;</span> <span class="line-center">&nbsp;</span> <span class="line-bottom">&nbsp;</span></span></span></div>

<p><span style="font-size:36px;"><span style="font-family:arial,helvetica,sans-serif;">Drop us a line &nbsp;if you want to become a mentor, become a sponsor, or want to sign up!</span></span></p>
</div>
</div>
    </div>
  </div>
</div>
<section id="block-block-8" class="block block-block triggerAnimation st-block-parallax clearfix" data-animate="rotateInUpLeft" data-stellar-background-ratio="0">

      
  <div id="contact-form">
<div class="container">
<div class="contact-drupal"><form class="user-info-from-cookie contact-form" action="/" method="post" id="contact-site-form" accept-charset="UTF-8"><div><div class="contact">        
    <div class="row">
        <div class="col-md-4">
            <div class="form-type-textfield form-item-name form-item form-group">
 <input class="form-control form-text required" placeholder="Your name" type="text" id="edit-name" name="name" value="" size="60" maxlength="255" />
</div>
        </div>
        <div class="col-md-4">
            <div class="form-type-textfield form-item-mail form-item form-group">
 <input class="form-control form-text required" placeholder="Your e-mail address" type="text" id="edit-mail" name="mail" value="" size="60" maxlength="255" />
</div>
        </div>
        <div class="col-md-4">
            <div class="form-type-textfield form-item-subject form-item form-group">
 <input class="form-control form-text required" placeholder="Subject" type="text" id="edit-subject" name="subject" value="" size="60" maxlength="255" />
</div>
     
        </div>
    </div>
    <div class="form-type-textarea form-item-message form-item form-group">
 <div class="form-textarea-wrapper"><textarea class="form-control form-textarea required" placeholder="Message" id="edit-message" name="message" cols="60" rows="5"></textarea></div>
</div>
    <div class="submit-area">
        <button class="btn btn-default form-submit" id="edit-submit" name="op" value="Send message" type="submit">Send message</button>
                             
    </div>
</div>
<input type="hidden" name="form_build_id" value="form-EQ-ecRDF9X7Qi3tSkkZDE6s3WLvVW1rdW62UB3icfX0" />
<input type="hidden" name="form_id" value="contact_site_form" />
</div></form></div></div>
</div>
</section> <!-- /.block -->

<div style="background:url(http://torbots.com/);" id="block-block-9" class="block block-block triggerAnimation st-block st-block-parallax" data-animate="fadeInDown" data-stellar-background-ratio="2">  
  
      
  
  <div class="block-content">
            
    <div class="content">
      <div class="contact-info">
<div class="container">
<div class="row">
<div class="col-md-3">
<div class="contact-post"><span class="contact-icon"><i class="fa fa-map-marker">&nbsp;</i></span>
<h2><span style="color:#000000;">Address</span></h2>

<p><span style="color:#000000;"><span style="font-family: arial, sans-serif; font-size: 13px; line-height: 16.1200008392334px;">4801 Pacific Coast Hwy, </span></span></p>

<p><span style="color:#000000;"><span style="font-family: arial, sans-serif; font-size: 13px; line-height: 16.1200008392334px;">Torrance, CA 90505</span></span></p>

<p>&nbsp;</p>
</div>
</div>

<div class="col-md-3">
<div class="contact-post"><span class="contact-icon"><i class="fa fa-phone">&nbsp;</i></span>

<h2><span style="color:#000000;">Phone number</span></h2>

<p><span style="color:#000000;">310 533 4352</span></p>
</div>
</div>

<div class="col-md-3">
<div class="contact-post"><span class="contact-icon"><i class="fa fa-envelope-o">&nbsp;</i></span>

<h2><span style="color:#000000;">Email</span></h2>

<p><span style="color:#000000;">torbotsteam1197@gmail.com</span></p>

<p><span style="color:#000000;">torbots@gmail.com</span></p>
</div>
</div>

<div class="col-md-3">
<div class="contact-post"><span class="contact-icon"><i class="fa fa-tags">&nbsp;</i></span>

<h2><span style="color:#000000;">Facebook</span></h2>

<p><span style="color:#000000;">https://www.facebook.com/TorBots</span></p>

<p>&nbsp;</p>
</div>
</div>
</div>
</div>
</div>
    </div>
  </div>
</div>
  </div>
      </section>

      
    </div>
  </div>
  <!-- footer 
    ================================================== -->
  <footer>
    <div class="container">
        <div class="region region-footer">
    <section id="block-block-10" class="block block-block st-block-parallax clearfix" data-stellar-background-ratio="0">

      
  <p>Copyright 2014. All Rights Reserved // Site Sponsored by <a class="text-link" href="http://www.facetinteractive.com" target="_blank" title="Drupal Website Development and Marketing Intelligence">Facet Interactive</a></p>

</section> <!-- /.block -->
  </div>
    </div>
  </footer>
  <!-- End footer -->
</div>
<div class="preloader">
  <img alt="" src="sites/all/themes/stilo/images/preloader.GIF">
</div>  <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"3088a011c2","applicationID":"8815417","transactionName":"YVMAYEEHVkJUUBBfC1gZI1dHD1dfGl0LUgFpRgNTVjlOWFBE","queueTime":0,"applicationTime":506,"atts":"TRQDFgkdRUw=","errorBeacon":"bam.nr-data.net","agent":"js-agent.newrelic.com\/nr-686.min.js"}</script></body>
</html>